{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Contact Me</h1>
        <div class="text-center">
            <p>If you would like to get in touch with me, feel free to connect through the following platforms:</p>
            <ul>
                <li><a href="https://github.com/auyber" target="_blank" class="btn btn-dark">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/auyber-genesini-moura-58b258144/" target="_blank" class="btn btn-primary">LinkedIn</a></li>
                <li><a href="mailto:devauyber@hotmail.com" class="btn btn-info">Email</a></li>
            </ul>
        </div>
    </div>
{% endblock %}