<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tarefas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h2>Tarefas</h2>
    
    <ul>
        {% for task in tasks %}
        <li>
            {{ task.title }} - 
            <a href="{{ url_for('edit_task', task_id=task.id) }}">Editar</a> | 
            <form action="{{ url_for('delete_task', task_id=task.id) }}" method="POST" style="display:inline;">
                <button type="submit">Excluir</button>
            </form>
        </li>
        {% endfor %}
    </ul>

    <br>
    <a href="{{ url_for('create_task') }}">Criar Nova Tarefa</a>
    <br>
    <a href="{{ url_for('index') }}">Voltar para o Index</a>  <!-- Botão de Voltar -->

</body>
</html>
